<nav class="navbar navbar-expand-md header-container">
  <div class="container-fluid align-items-center">

    <a class="navbar-brand logo" routerLink="/">
      <img src="../../../../imgs/logo.png" alt="Trka Logo">
    </a>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav gap-md-3">

        <li class="nav-item">
          <a class="nav-link" routerLink="index" routerLinkActive="active">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="events" routerLinkActive="active">Eventos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="group" routerLinkActive="active">Grupos</a>
        </li>



        @if (!authService.isAuthenticated()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Registrarse</a>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link" routerLink="user" routerLinkActive="active">
            <img src="../../../../imgs/Usuario-icon.png" height="50px" width="50px"
              [title]="authService.currentUser()?.name + ' ' + authService.currentUser()?.surname" alt="">
          </a>
        </li>
        }

      </ul>
    </div>
  </div>
</nav>
