<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="feature-card p-4">
                <div class="mb-3">
                    <label for="currentPassword" class="form-label">Contraseña actual</label>
                    <input type="password" class="form-control" id="currentPassword">
                </div>

                <div class="mb-3">
                    <label for="newPassword" class="form-label">Nueva contraseña</label>
                    <input type="password" class="form-control" id="newPassword">
                </div>

                <div class="mb-4">
                    <label for="confirmPassword" class="form-label">Confirmar nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword">
                </div>

                <hr class="my-2">
                <h6 class="mb-3"><a routerLink="/index" routerLinkActive="active">Cambiar contraseña </a></h6>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark fw-bold">
                        Guardar cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>