<div class="container my-5">
  <div class="row g-4">

    @for(event of events ; track $index){
    <div class="col-md-4">
      <div class="card trka-card h-100" style="background: rgba(26, 26, 64, 0.8); border: 60px white !important;">
        <img src="../../../../imgs/eventosimgs/{{event.categories[0].img}}.jpg" class="card-img-top" alt="imagen"
          style="height: 13em; ">
        <div class="card-body d-flex flex-column" style="color: var(--blanco-suave); ">
          <h5 class="card-title">{{event.title}}</h5>
          <h6 class="card-text">{{event.location}}</h6>
          <p class="card-text">
            {{event.description}}
          </p>
          <p class="card-text">
            {{event.event_date}}
          </p>
          <button class="btn trka-btn mt-auto" data-bs-toggle="modal" data-bs-target="#eventModal"
            (click)="selectEvent(event)">
            Ver más
          </button>
        </div>
      </div>
    </div>
    }


  </div>
</div>