<div class="container my-5">
  <div class="row g-4">

    <!-- CARD 1 -->
    <div class="col-md-6">
      <div class="card trka-card h-100">
        <img src="../../../../imgs/logo.png" class="card-img-top" alt="imagen">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Título Card</h5>
          <p class="card-text">
            Pequeña descripción del contenido que irá dentro de la card.
          </p>

          <button class="btn trka-btn mt-auto"
                  data-bs-toggle="modal"
                  data-bs-target="#proximamenteModal">
            Ver más
          </button>
        </div>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="col-md-6">
      <div class="card trka-card h-100">
        <img src="../../../../imgs/logo.png" class="card-img-top" alt="imagen">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Otro título</h5>
          <p class="card-text">
            Otra descripción corta del elemento.
          </p>

          <button class="btn trka-btn mt-auto"
                  data-bs-toggle="modal"
                  data-bs-target="#proximamenteModal">
            Ver más
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="row g-4 mt-4">

    <!-- CARD 1 -->
    <div class="col-md-6">
      <div class="card trka-card h-100">
        <img src="../../../../imgs/logo.png" class="card-img-top" alt="imagen">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Título Card</h5>
          <p class="card-text">
            Pequeña descripción del contenido que irá dentro de la card.
          </p>

          <button class="btn trka-btn mt-auto"
                  data-bs-toggle="modal"
                  data-bs-target="#proximamenteModal">
            Ver más
          </button>
        </div>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="col-md-6">
      <div class="card trka-card h-100">
        <img src="../../../../imgs/logo.png" class="card-img-top" alt="imagen">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Otro título</h5>
          <p class="card-text">
            Otra descripción corta del elemento.
          </p>

          <button class="btn trka-btn mt-auto"
                  data-bs-toggle="modal"
                  data-bs-target="#proximamenteModal">
            Ver más
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
