<section class="hero">

    <img class="hero-img" [src]="currentImage" alt="" />

    <img class="hero-img hero-img-next" [src]="nextImage" [class.show]="transitioning" alt="" />

    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>Conecta. Sal. Disfruta.</h1>
        <p>Descubre los mejores planes en Valencia.</p>
    </div>

</section>

<!-- Esto para el carrusel

<section>
      <div class="content">
        <div class="grid">
            <app-carousel (position)="onCarousel($event)" [name]="name" [photo]="image"></app-carousel>
        </div>

        <div id='render-more'>
            <button (click)="showMore(-1)">ANTERIORES</button>
            <button (click)="showMore(1)">SIGUIENTES</button>
        </div>

</section>
-->

<section class="container my-5">
    <header>
        <h2>Nuestros próximos eventos</h2>
    </header>

    <app-events-cards-asc (select)="onSelect($event)"></app-events-cards-asc>

    <app-modal [selectedEvent]="selectedEvent"></app-modal>

</section>