<section class="hero">

    <img class="hero-img" [src]="currentImage" alt="" />

    <img class="hero-img hero-img-next" [src]="nextImage" [class.show]="transitioning" alt="" />

    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>Conecta. Sal. Disfruta.</h1>
        <p>Descubre los mejores planes en Valencia.</p>
        <a class="cta-btn" routerLink="/register" style="overlay: 100% !important">
        Únete ahora
    </a>
    </div>


</section>
@if (index){
<section class="container my-5">
    <h3>
        <h2>Nuestros próximos eventos</h2>
    </h3>

    <app-events-cards-asc (select)="onSelect($event)"></app-events-cards-asc>

    <app-modal [selectedEvent]="selectedEvent"></app-modal>

</section>
} @else {
  <section class="container my-5">
  <h3>Inicia sesión para ver nuestro contenido</h3>
  </section>
}
