
<section class="hero hero--small">
    <h1 style="color: var(--blanco-suave);">Registrate en <span style="color: var(--rosa-neon);">trka</span></h1>
</section>
<main>

    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="feature-card p-4">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="name" placeholder="Nombre..."
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="surname" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="surname" placeholder="Apellidos..."
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="email" placeholder="nombre@correo.com"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="tel" class="form-control" id="telefono" placeholder="+34 600 000 000">
                        </div>

                        <div class="mb-4">
                            <label for="contraseña" class="form-label">Contraseña</label>
                             <input type="password" class="form-control" id="password" placeholder="Contraseña..."
                                required>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark fw-bold">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>