<div class="modal fade" id="eventModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content trka-modal">

      <div class="modal-header border-0">
        <h5 class="modal-title">
          {{ selectedGroup?.name }}
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">

        @if (selectedGroup) {

          <!-- Tipo de grupo -->
          <p class="mb-2">
            🔒
            @if (selectedGroup.is_private) {
              Grupo privado
            } @else {
              Grupo público
            }
          </p>

          <!-- Descripción -->
          <p class="mb-3">
            {{ selectedGroup.description }}
          </p>
          @if (selectedGroup.created_at) {
            <p class="mb-0">📅 Creado el {{ selectedGroup.created_at }}</p>
          }

        }

      </div>

    </div>
  </div>
</div>